body {
    font-family: 'Times New Roman', Times, serif;
    background-color: salmon;
}

h1 {
    text-align: center;
    background-color: royalblue;
}

#title{
    height: 100px;
    width: 500px;
    
}

#navbar {
    background-color: seagreen;
    height: 100px;
    width: 200px;
    display: flex;
}

#cosa-1 {
    padding: 10px;
    background-color: cadetblue;

}

#cosa-2 {
    padding: 10px;
    background-color: rebeccapurple;
}

#cosa-3 {
    padding: 10px;
    background-color: red;
}

#main-doc {
    background-color: #eee;
}

#email {
    font-family: 'Times New Roman', Times, serif;
    background-color: crimson;
}

#submit {
    padding: 10px 20px 10px 20px;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color: cornflowerblue;    
}

.main-section{ 
    background-color: chocolate;
}

.nav-link {
    padding: 10px 20px 10px 20px;
    border-width: 5px;
    background-color: brown;
    border-color: cadetblue;
    height: 30px;
    width: 30px;
}

.center {
    display: flex;
    justify-content: center;
}